<?xml version="1.0" encoding="UTF-8"?>
<mandelbrot_julia_set>

	<!-- data for rendering -->
	<renderdata itermax="100" degree="3" type="julia-set">
		<complex-plane>
			<minre>-3.1318321652969998</minre>
			<maxre>2.8388555766680001</maxre>
			<minim>-2.176566224314</minim>
			<maxim>2.0772284759700002</maxim>
		</complex-plane>
		<const_j>
			<repart_j>0.21571906354500001</repart_j>
			<impart_j>0.95484949832800003</impart_j>
		</const_j>
	</renderdata>

	<!-- windowsize -->
	<size>
		<width>1002</width>
		<height>626</height>
	</size>

	<preference>
		<color algorithmen="0">
			<convergent-color red="0" green="0" blue="0"/>
			<divergent-color red="65535" green="65535" blue="65535"/>
			<focus-color red="65535" green="65535" blue="0"/>
		</color>

		<!-- zooming proportional -->
		<zoom-prop>1</zoom-prop>
		<zoom-factor>0.65000000000000002</zoom-factor>

		<get_j-itermax>100</get_j-itermax>

		<!-- number of render threads -->
		<threadscount>4</threadscount>

		<!-- default values for reset -->
		<default-mandelbrot-complexplane>
				<minre>-2.1669999999999998</minre>
				<maxre>1.167</maxre>
				<minim>-1.3300000000000001</minim>
				<maxim>1.3300000000000001</maxim>
		</default-mandelbrot-complexplane>
		<default-complexplane>
				<minre>-1.167</minre>
				<maxre>1.167</maxre>
				<minim>-1.5</minim>
				<maxim>1.5</maxim>
		</default-complexplane>
	</preference>
</mandelbrot_julia_set>
